 
/.obsidian
/protocol.md
/Motion of Solar Systems and Galaxies through space-1.md
/Methodology.md
/Code/blackbody.ipynb
/Code/backup.ipynb
/Code/testing.ipynb
/Code/test-astro.ipynb
/Code/final-data.csv
/Code/data.txt
/Code/fits.ipynb
/Code/imp-data.py
